<div class="row">
	<div class="col-md-8">
		<h1>{{subject}}</h1>
		<div>
			9/23/15 12:39PM - now 
		</div>
		<div>
			 Testing edit details & tags
		</div>
	</div>
	<div class="col-md-4">
		<div id="meeting-actions" class="clearfix">
                <a id="print-meeting-agenda-trigger" class="ui-state-default" target="_blank" href="/meeting/8165955/print/agenda">
                    <i class="icon-print s11"></i>Agenda
                </a>
                 <a id="view-meeting-invite" class="ui-state-default" href="javascript:void(0);">
                    <i class="icon-calendar s11"></i>View Invite</a>
                
                <div class="top-5 clearfix">
                <a id="resend-agenda-trigger" class="ui-state-default" href="#">
                    <i class="icon-envelope s11"></i>Resend Agenda
                </a>
                </div>
                
                   <div id="meeting-location" class="clearfix top-5">
                        <i class="icon-location-arrow s11" style="text-decoration: none !important;"></i><span class="text">cairo</span>
                   </div> 
            </div>
	</div>
</div>

<div class="row">
	<div class="col-md-8">
		<div class="panel panel-success" id="agenda">
		  <div class="panel-heading">Agenda</div>
		  <div class="panel-body">
		  	<div class="row agenda-item">
		  		<div class="col-md-5">This is a first agenda item</div>
		  		<div class="col-md-2 pull-right">25 mins</div>
		  		<div class="col-md-8">
				  	<ul>
				  		<li>Action item 1</li>
				  		<li>This is a decsion  1</li>
				  		<li>This is a key point</li>
				  	</ul>
			  	</div>

			  	<div class="time-passed"></div>
		  	</div>

		  	<div class="row agenda-item">
		  		<div class="col-md-5">This is a first agenda item</div>
		  		<div class="col-md-2 pull-right">25 mins</div>
		  		<div class="col-md-8">
				  	<ul>
				  		<li>Action item 1</li>
				  		<li>This is a decsion  1</li>
				  		<li>This is a key point</li>
				  	</ul>
			  	</div>
		  	</div>

		  	<div class="row agenda-item">
		  		<div class="col-md-5">This is a first agenda item</div>
		  		<div class="col-md-2 pull-right">25 mins</div>
		  		<div class="col-md-8">
				  	<ul>
				  		<li>Action item 1</li>
				  		<li>This is a decsion  1</li>
				  		<li>This is a key point</li>
				  	</ul>
			  	</div>
		  	</div>		  			  	
		   
		  </div>
		</div>

		<div class="panel panel-success" id="actionitems">
		  <div class="panel-heading">Action Items</div>
		  <div class="panel-body">
		  	<ul class="action-items">
		  		<li>Action item 1</li>
		  		<li>This is a decsion  1</li>
		  		<li>This is a key point</li>
		  	</ul>
		  </div>
		</div>
		
	</div>
	<div class="col-md-4">
		<div class="panel panel-success" id="actionitems">
		  <div class="panel-heading">participants</div>
		  <div class="panel-body">
		   	<ul class="participants">
		  		<li>Action item 1</li>
		  		<li>This is a decsion  1</li>
		  		<li>This is a key point</li>
		  	</ul>
		  </div>
		</div>
				<div class="panel panel-success" id="actionitems">
		  <div class="panel-heading">Goals</div>
		  <div class="panel-body">
		   	<ul class="Goals">
		  		<li>Action item 1</li>
		  		<li>This is a decsion  1</li>
		  		<li>This is a key point</li>
		  	</ul>
		  </div>
		</div>
				<div class="panel panel-success" id="actionitems">
		  <div class="panel-heading">History</div>
		  <div class="panel-body">
		    	<ul class="History">
		  		<li>Action item 1</li>
		  		<li>This is a decsion  1</li>
		  		<li>This is a key point</li>
		  	</ul>
		  </div>
		</div>
				<div class="panel panel-success" id="actionitems">
		  <div class="panel-heading">Documents</div>
		  <div class="panel-body">
		  <ul class="Documents">
		  		<li>Action item 1</li>
		  		<li>This is a decsion  1</li>
		  		<li>This is a key point</li>
		  	</ul>
		   
		  </div>
		</div>		
	</div>
</div>
